/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body{
    border: 1px solid #000;
} */

.banner{
    width: 100%;
    background-image: url(https://upload.cc/i1/2022/05/02/chXkpn.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.banner h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 89px;
    line-height: 40px;
    letter-spacing: 3.89px;
}

.banner select{
    height: 48px;
    width: 452px;
    margin-top: 96px;
    font-size: 18px;
    background: rgba(255,255,255,0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
}

.banner .hotDistrict{
    width: 800px;
    margin-top: 30px;
    background: #fff;
    position: absolute;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    padding: 26px 26px 18px 26px;
    
}

.banner .hotDistrict p{
    font-size: 18px;
    font-weight: bold;
}

.banner .hotDistrict ul{
    display: flex;
    font-size: 20px;
    width: 610px;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 25px;
}

.banner .hotDistrict ul li{
    width: 130px;
    height: 42px;
    border-radius: 5px;
}

.banner .hotDistrict ul li:nth-child(1){
    background: #8A82CC;
}

.banner .hotDistrict ul li:nth-child(2){
    background: #FFA782;
}

.banner .hotDistrict ul li:nth-child(3){
    background: #F5D105;
}

.banner .hotDistrict ul li:nth-child(4){
    background: #559AC8;
}

.banner .hotDistrict ul li a{
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 42px;
}

.main {
    width: 92%;
    margin: 0 auto;
}

.main h2{
    font-size: 36px;
    color: #8A82CC;
    text-align: center;
}

.main .Attraction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .Attraction .eachAttraction{
    width: 49%;
    height: 273px;
    margin-bottom: 36px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}

.main .Attraction .eachAttraction .attractionname{
    background: url(https://raw.githubusercontent.com/hexschool/KCGTravel/master/image/%E4%B8%89%E6%B0%91%E5%8D%80/%E4%B8%AD%E9%83%BD%E6%BF%95%E5%9C%B0%E5%85%AC%E5%9C%9207.jpg) no-repeat;
    height: 56%;
    background-size: 100% 100%;
    position: relative;
    padding-right: 500px;
}

.main .Attraction .eachAttraction .attractionname .name{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
}

.main .Attraction .eachAttraction .attractionname .name h3{
    font-size: 24px;
}

.main .Attraction .eachAttraction .attractionInfo{
    height: 44%;
    /* padding: 16px 24px 22px 23px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main .Attraction .eachAttraction .attractionInfo img{
    margin-right: 9px;
}

.main .Attraction .eachAttraction .attractionInfo .phoneAndTicketInfo{
    display: flex;
    justify-content: space-between;
}

.footer{
    height: 90px;
    width: 100%;
    font-size: 14px;
    background-color: #559AC8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p:nth-child(1){
    color: #fff;
    margin-bottom: 15px;
}

.footer p:nth-child(2){
    color: #FFD366;
}


